.backGround {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  opacity: 0.8;
}

.modal {
  position: absolute;
  top: 5%;
  left: 10%;
  width: 80%;
  height: auto;
  padding: 50px;
  border-radius: 20px;
  background-color: #ffffff;
}

.close-icon {
  position: absolute;
  right: 30px;
  top: 30px;
}

.book-list-item_detales {
  display: flex;
  margin: 15px 0;
}

@media only screen and (max-width: 768px) {
  .book-list-item_detales {
    flex-direction: column;
  }
}

.img_style {
  width: 120px;
  height: 160px;
  padding: 10px;
}


.book-list-item_detales .book-cover_detales {
  flex-shrink: 0;
  width: 120px;
  margin-right: 30px;
}

.book-list-item_detales .book-cover_detales img {
  max-width: 100%;
}

.book-list-item_detales .book-details_detales {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  align-items: flex-start;
}

.book-list-item_detales .book-details_detales  {
  font-size: 1.2rem;
}

.book-title_detales {
  font-weight: 700;
  font-size: 1.4rem;
}

.book-list-item_detales .book-details_detales .book-price_detales {
  font-size: 1.4rem;
}

.book-description_detales {
  font-size: 0.8rem;
}
